{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="py-5 text-center">
      <p class="lead">Рейтинг по надбавкам</p>
      <p class="lead">Поля "Количество баллов фактически", "Сумма баллов фактически" и "Комментарий" выставляются сотрудниками Качества и Аккредитации</p>
    </div>
{% if user.is_superuser %}
<a class="btn btn-primary" href="{% url 'discipline_create' %}">Создать Показатель</a>
<a class="btn btn-primary" href="{% url 'createnewyear' %}">Создать Новый год</a>
<hr>
{% endif %}

<form action="">
  {% csrf_token %}
  {{ form.form.indexes__data }}
  <button class="btn btn-primary" type="submit">OK</button>
</form>
{% if disciplines %}

<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th scope="col">№</th>
      <th class="col-3" scope="col">Название показателей</th>
      <th scope="col">Балл</th>
      <th scope="col">Кол-во показателей</th>
      <th scope="col">Сумма баллов</th>

      <th scope="col">Номера приказов</th>
      <th scope="col">Примечание</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
  {% for i in disciplines %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'discipline_detail' i.pk %}">{{ i.title }}</a></td>
      {% for j in indexes %}
        {% if j.discripline.id == i.id %}
          <td>{{ j.bally }}</td>
          <td>{{ j.quantity }}</td>
          <td>{{ j.bally|mul:j.quantity }}</td>
          <td>{{ j.protocol }}</td>
          <td>{{ j.primechanie }}</td>
        <td><a href="{% url 'index_update' j.pk %}" class="btn btn-success">Изменить</a></td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  {% else %}
  <h1>У вас нет привязанные к вам дисциплины</h1>
  {% endif %}



  </tbody>
</table>




{% endblock %}